@import url('../variable.css');

.partners-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.partners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-row {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
}

.row1 img {
    width: 350px;
    height: 86px;
}

.row2 img {
    width: 250px;
    height: 64px;
}

.row3 img {
    width: 200px;
    height: 64px;
}

.partner-logo {
    height: 64px;
    object-fit: contain;
    margin: 10px;
}

.image-separator {
    width: 100%;
    overflow: hidden;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .partners-row {
        flex-direction: column;
    }

    .partner-logo {
        width: 180px;
        height: 74px;
    }
}